
body{
    overflow-x: hidden; 
    margin: 0; 
    padding: 0; 

    
}
p{
    text-decoration: solid;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
   font-style: initial;
    text-align: auto;
    font-size: large;
    
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: none;
    color: #1ba0ec; 
}
#more {display: none;
}
#myBtn{
    margin-bottom: 2%;
    margin-left: 45%;
    background-color: #e5f049;
}

.btn{
    position: relative;
    padding: 11px;
    top: 25px;
    left: 35rem;
    z-index: 5;
    background: rgb(243, 187, 4);
}
form .form-control{
    border-radius: 0;

}
form .form-control:focus{
    box-shadow: none;
    border-color: #E93b81;
}
#cta{
    background-color: #E93b81;
}
form{
    display: block;
    margin-top: 0em;
}