.container{
    position: relative;
}

body{
    overflow-x: hidden; 
    margin: 0; 
    padding: 0; 
    background: #fefefe; 
}

/*----Header Section----*/
.header{width: 100%; 
    position: fixed; 
    z-index: 10;
}

/*----1st Top Bar Section----*/
.top-bar-1{
    background: #eab83a; 
    padding: .3rem 0.1rem 0;  
    color: #f5f4f4;  
    font-family: sans-serif; 
    font-size: .9rem;
}
span.top-icon {
    background: #d39c29; 
    border: 1px solid #f5f4f4; 
    border-radius: 50%;  
    color: #f5f4f4;
    display: inline-block;  
    width: 25px;  
    height: 25px;  
    line-height: 25px;  
    margin-right: 10px;
    text-align: center;  
    font-weight: bold;  
    font-size: .7rem;
}
.top-bar-1 .button {
    font-size: 0.7rem; 
    text-align: center; 
    padding: .3rem .7rem; 
    margin-top: 0;
}

.top-bar-1 .button:after {
    background-color: rgb(208 76 81 / 58%);;
}

.top-bar-1 .button:before {
    background-color: #d04c51;
}


    /* 2nd Top Bar Section */

.header.top-bar-2{
    background: white!important;
}


.col-sm-8 {
    background-image: linear-gradient(to right,rgba(10, 36, 107, 0.692),rgb(0, 0, 0)), url(/images/calendar-back.jpg);
    color: white;
    margin-top: 1rem;
}




.btn{
    position: relative;
    padding: 11px;
    top: 25px;
    left: 35rem;
    z-index: 5;
    background: crimson;
}


/*------Navigation Bar Styling------*/
.navbar {
    background: ''; 
    background-blend-mode: darken;  
    width: 100%;
    height: fit-content; 
    border-bottom: 1px solid #eab83a;
    align-items: center;
}

.nav-menu a { 
    padding: 0.7rem 0.5rem;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem; 
    font-weight: 500;  
    letter-spacing: .01rem;  
    text-decoration: none;
    color: #000000 !important;  
    text-transform: uppercase;  
    display: block;  
    line-height: .2rem;
    font-weight: 500;
}
.nav-menu a.is-active{ 
    color: blue!important;
    border-radius: 1px;  
    border-bottom: 2px solid #2e2e2e;
}

.nav-menu a:hover{
    font-size: .85rem;
    transition: .3s ease;
    color: blue!important;
    font-weight: 600;
}


